---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/*
  PALETTE
  ======================= */

$primary-color        : #191919 !default;
$primary-light-color  : #292929 !default;
$primary-dark-color   : #000000 !default;
$secondary-color      : #06d6a0 !default;
$secondary-light-color: #63ffd1 !default;
$secondary-dark-color : #3b5998 !default;
$primary-text-color   : #ffffff !default;
$secondary-text-color : #000000 !default;

$body-color                 : $primary-text-color !default;
$navigation-color           : $primary-light-color !default;
$link-color                 : $primary-color !default;
$link-color-hover           : $secondary-light-color !default;
$masthead-link-color        : $secondary-text-color !default;
$masthead-link-color-hover  : $secondary-dark-color !default;

/*
  FONT CUSTOMIZATION
  ======================= 

$old-sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$montserrat: 'Montserrat', $old-sans-serif;
$raleway: 'Raleway', $old-sans-serif;

$global-font-family: $raleway !default;
$header-font-family: $montserrat !default;
$sans-serif: $raleway !default;
$sans-serif-narrow: $raleway !default;
*/
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

a {
  text-decoration: none;
  &:hover {
    color: $secondary-dark-color;
  }
}

/*
  NAVIGATION BAR
  ======================= */

.masthead {
  background-color: $primary-text-color;
  border-bottom: 1px solid $primary-text-color;

  &__inner-wrap {
    padding: 0.6em 1em;
  }
}


.greedy-nav {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
        align-items: center;
  background: $background-color;

  a {
    display: block;
    margin: 0 1rem;
    padding: 0.5rem 0;
    color: $masthead-link-color;
    text-decoration: none;

    &:hover {
      color: $masthead-link-color-hover;
      font-weight: bolder;
    }

    &.site-title {
      margin-left: 0;
    }
  }

  button {
    padding: 0 0.5rem;
    align-self: stretch;
    border: 0;
    outline: none;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
  }

  .visible-links {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
     justify-content: flex-end;
    -webkit-box-flex: 1;
                flex: 1;
    padding-right: 2rem;
    overflow: hidden;

    li {
      -webkit-box-flex: 0;
                  flex: none;

      &:last-child {
        a {
          margin-right: 0;
        }
      }
    }

    a {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        background: $secondary-dark-color;
        width: 100%;
        -webkit-transition: $global-transition;
        transition: $global-transition;
        -webkit-transform: scaleX(0) translate3d(0, 0 , 0);
                transform: scaleX(0) translate3d(0, 0 , 0); /* hide*/
      }

      &:hover:before {
        -webkit-transform: scaleX(1);
                -ms-transform: scaleX(1);
            transform: scaleX(1); /* reveal*/
      }
    }
  }

  .hidden-links {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 15px;
    padding: 5px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background: $background-color;
    box-shadow: 0 2px 4px 0 rgba(#000, 0.16), 0 2px 10px 0 rgba(#000, 0.12);

    &.hidden {
      display: none;
    }

    a {
      margin: 0;
      padding: 10px 20px;
      font-size: $type-size-5;

      &:hover {
        color: $masthead-link-color-hover;
        background: $navicon-link-color-hover;
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: -11px;
      right: 10px;
      width: 0;
      border-style: solid;
      border-width: 0 10px 10px;
      border-color: $border-color transparent;
      display: block;
      z-index: 0;
    }

    &:after {
      content: "";
      position: absolute;
      top: -10px;
      right: 10px;
      width: 0;
      border-style: solid;
      border-width: 0 10px 10px;
      border-color: $background-color transparent;
      display: block;
      z-index: 1;
    }

    li {
      display: block;
      border-bottom: 1px solid $border-color;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.search__toggle {
  color: $masthead-link-color;
  &:hover {
    color: $masthead-link-color-hover;
  }
}

/*
  IFRAMES
  ======================= */

.plkotlin {
  width: 100%;
  height: auto;
  min-height: 320px;
  border-width: 0;
}

/*
   HEADER BOX
   ========================================================================== */

.header_box {
  color: $primary-text-color;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.5);

  .author__avatar {
    display: table-cell;
    vertical-align: top;
    width: 60px;
    height: 60px;

    img {
      max-width: 180px;
      border-radius: 50%;

      padding: 8px;
      border: 3px solid #f2f2f2;
    }
  }

  .social__links {
    margin-top: 1.5em;
  }

  a {
      font-size: $type-size-3;
      margin: 0em 0.6em 0em 0em;
      &:hover {
        color: $secondary-color;
      }
  }
}